@model BancoTeste.Models.Transacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Transação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ContaId" class="control-label"></label>
                <select asp-for="ContaId" class="form-control" asp-items="ViewBag.ContaId"></select>
                <span asp-validation-for="ContaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historico" class="control-label"></label>
                <input asp-for="Historico" class="form-control" />
                <span asp-validation-for="Historico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debito" class="control-label"></label>
                <input asp-for="Debito" class="form-control" />
                <span asp-validation-for="Debito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credito" class="control-label"></label>
                <input asp-for="Credito" class="form-control" />
                <span asp-validation-for="Credito" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conciliado" /> @Html.DisplayNameFor(model => model.Conciliado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Savar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
