<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Banco Caneta Azul</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BancoTeste.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">PAGINA PRINCIPAL</a>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <ul>
                        <br />
                        <li class="btn-group">
                            <a class="btn btn-outline-primary" aria-current="page" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                        </li>
                        <li class="btn-group">
                            <a class="btn btn-outline-primary" aria-current="page" asp-area="" asp-controller="Contas" asp-action="Index">Contas</a>
                        </li>
                        <li class="btn-group">
                            <a class="btn btn-outline-primary" aria-current="page" asp-area="" asp-controller="Transacao" asp-action="Index">Transação</a>
                        </li>
                        <li class="btn-group">
                            <a class="btn btn-outline-primary" aria-current="page" asp-area="" asp-controller="Transacao" asp-action="Extrato">Extrato</a>
                        </li>
                        <br />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <center>
            <small>
                A Satisfação é o nosso secredo.
                &copy; 2023 - Banco Caneta Azul - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contato</a>
            </small>
        </center>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
