@{
    ViewData["Title"] = "Página Inicial";
}

<partial name="_AvisoGeral"/>

<div class="text center">
    <center>
        <h1 class="display-1"><strong>BANCO CANETA AZUL</strong></h1>
        <p class="lead">Seja bem vindo!</p>
    </center>
</div>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://juristas.com.br/wp-content/uploads/2020/05/iStock-1150396090-ipopba-300x142.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Somos práticos e modernos</h5>
                <p>Vem com a gente!.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQazw9K7GljT1S-Bai8B1_lH6TDsHGEWuBiJjxWboJoo76u0aUyPBX7kJgRMZF6F4zhdGk&usqp=CAU" class="d-block w-70">
            <div class="carousel-caption d-none d-md-block">
                <h2>Estamos no mundo todo!</h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTADZEWl-LJ6PCHxWdh_P4v2gK6aGF2Bs_3vBmasAXzod2bY9wqevg7-KRIWtrcnnjZTXg&usqp=CAU" class="d-block w-70">
            <div class="carousel-caption d-none d-md-block">
                <h2>As melhores taxas de juros!</h2>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
